/* ! Grid System */
.grid { margin: 0 auto; padding: 0 15px; max-width: 1250px; display: flex; flex-flow: row; flex-wrap: wrap;}
.grid--center{justify-content: center;}
.col{ flex: 1;}

[class*='col-'] { 
    height: 50px;
}



/*background-color*/

.bg-black{background-color: black;}

.bg-red{background-color: red;}

.bg-apple{background-color: rgba(127,0,64,255);}

.bg-yellow{background-color: rgba(223,170,19,255);}

.bg-eyes{background-color: rgba(126,191,190,255);}

.bg-shade{background-color: rgba(62,126,126,255);}

.bg-white{background-color: white;}




/*col*/
.col-0-1{
    width: calc((100% / 12) * .5);
}
.col-1{
    width: calc((100% / 12) * 1);
}
.col-1-2{
    width: calc((100% / 12) * 1.5);
}
.col-2{
    width: calc((100% / 12) * 2);
}
.col-2-3{
    width: calc((100% / 12) * 2.5);
}
.col-3{
    width: calc((100% / 12) * 3);
}
.col-3-4{
    width: calc((100% / 12) * 3.5);
}
.col-4{
    width: calc((100% / 12) * 4);
}
.col-4-5{
    width: calc((100% / 12) * 4.5);
}
.col-5{
    width: calc((100% / 12) * 5);
}
.col-6{
    width: calc((100% / 12) * 6);
}
.col-7{
    width: calc((100% / 12) * 7);
}
.col-8{
    width: calc((100% / 12) * 8);
}
.col-9{
    width: calc((100% / 12) * 9);
}
.col-10{
    width: calc((100% / 12) * 10);
}
.col-11{
    width: calc((100% / 12) * 11);
}
.col-12{
    width: calc((100% / 12) * 12);
}


/*Offset*/

.col-offset-1{
    margin-left: calc((100% / 12) * 1);
}
.col-offset-1-2{
    margin-left: calc((100% / 12) * 1.5);
}
.col-offset-2{
    margin-left: calc((100% / 12) * 2);
}
.col-offset-3{
    margin-left: calc((100% / 12) * 3);
}
.col-offset-3-4{
    margin-left: calc((100% / 12) * 3.5);
}
.col-offset-4{
    margin-left: calc((100% / 12) * 4);
}
.col-offset-4-5{
    margin-left: calc((100% / 12) * 4.5);
}
.col-offset-5{
    margin-left: calc((100% / 12) * 5);
}
.col-offset-6{
    margin-left: calc((100% / 12) * 6);
}
.col-offset-7{
    margin-left: calc((100% / 12) * 7);
}
.col-offset-8{
    margin-left: calc((100% / 12) * 8);
}
.col-offset-9{
    margin-left: calc((100% / 12) * 9);
}
.col-offset-10{
    margin-left: calc((100% / 12) * 10);
}
.col-offset-11{
    margin-left: calc((100% / 12) * 11);
}
.col-offset-12{
    margin-left: calc((100% / 12) * 12);
}

